.footer {
    display: flex;
    flex-direction: column;
    min-width: 1100px;
    max-width: 1600px;
    min-height: 350px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    justify-content: flex-start;
    align-items: center;
    background-color: #1f1f1f;
  }