.video__iframe {
    margin-left: 20px;
    width: 515px;
    height: 316px;
    border: 0;
  }

  .video__iframes {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    margin-bottom: -60px;
  }