.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100vh;
  align-items: baseline;
  justify-content: center;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
}

.logo {
  width: 183px;
  background-image: url(../images/logo_place_header.svg);
  z-index: 1;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 0;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 2;
 }

 .header__subtitle {
   width: 388px;
   line-height: 25px;
   font-size: 18px;
   font-weight: normal;
   position: absolute;
   left: 64px;
   bottom: 30px;
 }

 .header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
 }

 .header__main-illustration {   
   width: 765px;
   height: 608px;
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 1;
 }

 .main-illustration_size {
  width: 765px;
  height: 608px;
 }

 .header__square-pic {
   width: 568px;
   height: 568px;
   position: absolute;
   top: 64px;
   right: 0;
   background-color: #2f80ed;
   z-index: 0;
 }

.content {
  justify-content: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.description {
  position: relative;
  align-items: center;
  justify-content: center;
}

.two-columns {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.two-columns_order {
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
} /*первая колонка*/

.two-columns__title {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin-top: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
} 

.two-columns__main-text_order {
  justify-content: flex-start;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.description__span {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  color: #000;
}

.section-title {
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-title__theme_white {
  margin-top: 0;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.table {
  width: 1100px;
  position: relative;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  justify-content: space-between;
}

.table__theme_white {
  margin-bottom: 100px;
}

.table__cell {
  position: relative;
}

.table__cell_theme_white {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__heading_indent_bottom {
  padding-bottom: 20px;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__text_indent_bottom {
  margin-bottom: 20px;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__bg_photo {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.kaufman {
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
}

.section-title__theme_dark {
  margin-top: 90px;
  z-index: 1;
}

.section-subtitle__theme_dark {
  z-index: 1;
}

.table__theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  background-size: cover;
  z-index: 0;
}

.footer {
  min-width: 1100px;
  max-width: 1600px;
  min-height: 350px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #1f1f1f;
}

.footer__columns {
  position: relative;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column {
  color: #f2f2f2;
}

.footer__author {
  display: inline-block;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
  left: 0;
  bottom: 0;
}

.footer__column_heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__column_links {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}

.footer__column_link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__content_copyrite {
  flex-basis: 711px;
}

.logo__place_footer {
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}




